*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: rgb(4, 4, 137);
}
nav {
    background-color:rgb(143, 62, 53)!important;
    color: black;
}
#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}
header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: #8cc5f3;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #0fedcc;
}
body{
    background-color:rgb(143, 62, 53);
    text-align: center;
}
h2{
    margin-top: 300px;
    
}

.display-6{
    margin-top: 170px;  
}
#contact_No{
    width: 50%;
    height: 40px;
    /* border: none; */
    padding: 5px;
    outline: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid var(--primary-color);
    
    
}
textarea{
    width: 50%;
    height: 40px;
    /* border: none; */
    padding: 5px;
    outline: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid var(--primary-color);
}

#Email{
    width: 50%;
    height: 40px;
    /* border: none; */
    padding: 5px;
    outline: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid var(--primary-color);
}

#full_name{
    width: 50%;
    height: 40px;
    /* border: none; */
    padding: 5px;
    outline: none;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: 'Poppins', sans-serif;
    border-bottom: 5px solid var(--primary-color);

}

#contact {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;  

}
.btn {
    background-color: #0f0a0d;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 30%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
.btn:hover {
    background-color:rgb(146, 78, 70);
}
#cardtext{
    color: rgb(143, 62, 53);
}
#about_img{
    width: 70%;
}

/* @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  } */
  #card_mobi{
    
  } 
